html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF2B4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app {
  display: flex;
  justify-content: center;
  text-align: center;
  direction: rtl;
  width: 100%;
  height: 100%;
  background-color: #FFF2B4;
  font-family: 'assistant';
  overflow: hidden;
  position: relative;
}

.bahad6 {
  height: 5rem;
}

.til {
  height: 5rem;
}

.symbols {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}



@font-face {
  font-family: rubik;
  src: url('/src/assets/fonts/Rubik/Rubik-Bold.ttf');
}
@font-face {
  font-family: rubik-black;
  src: url('/src/assets/fonts/Rubik/Rubik-Black.ttf');
}

@font-face {
  font-family: assistant;
  src: url('/src/assets/fonts/Assistant/Assistant-Regular.ttf');
}

@font-face {
  font-family: assistant-bold;
  src: url('/src/assets/fonts/Assistant/Assistant-Bold.ttf');
}
@font-face {
  font-family: assistant-semiBold;
  src: url('/src/assets/fonts/Assistant/Assistant-SemiBold.ttf');
}
@font-face {
  font-family: assistant-extraBold;
  src: url('/src/assets/fonts/Assistant/Assistant-ExtraBold.ttf');
}

@font-face {
  font-family: "fredoka";
  src: url('/src/assets/fonts/Fredoka/Fredoka-Bold.ttf');
}