.flip-card {
    background-color: transparent;
    width: 19rem;
    height: 20rem;
    margin: 1rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.flip-card:hover .flip-card-front,
.flip-card.start .flip-card-front {
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-back,
.flip-card.start .flip-card-back {
    transform: rotateY(360deg);
}

.flip-card-front,
.flip-card-back {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 1rem;
    overflow: hidden;
    color: white;
    background-color: #073799;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-back {
    background-color: #073799;
    border-radius: 30px;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgFront {
    height: 8rem;
}

.change-bag-size {
    width: 12rem;
    height: 12rem;
    font-size: 1.3rem;
}

.textBack {
    padding: 5%;
    font-size: 1.2rem;
}

.textFront {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: assistant-extraBold;
}