/* intoduction */

.intoduction-container {
    height: 35rem;
    width: 45rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: black;
    font-family: "assistant-semiBold";
    padding: 1rem;
}

.intro-text {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.intro-second {
    padding: 3rem;
}

.intro-text-sec {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}



@media (max-width: 1100px) {
    .intoduction-container {
        width: 35rem;
    }
}

/* TechnicalData */

.technicalData-title {
    font-family: "rubik-black";
    font-size: 2.6rem;
    position: relative;
    top: 4rem;
    left: 12rem;
}

.hover-table {
    border-collapse: collapse;
    width: 50rem;
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    position: relative;
    top: 7rem;
    right: 5rem;
}

.hover-table td {
    border: 1px solid #073799;
    padding: 10px;
    transition: background-color 0.3s;
}

.hover-table td:hover {
    background-color: #FFF2B4;
}

.hover-table td.first-row {
    background-color: #E69907;
}

.hover-table td.bold-cell {
    font-weight: bold;
}

.galBubble {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galTechnicalImg {
    height: 10rem;
}

.galTechnical {
    position: relative;
    bottom: 14rem;
    right: 35.5rem;
}

.galTechnicalBubble {
    width: 13rem;
}


@media (max-width: 1300px) {
    .hover-table {
        width: 38rem;
       right: -3rem;
    }

    .galTechnical {
        right: 23rem;
    }
}

@media (max-height: 950px) {
    .hover-table {
        top: 5rem;
    }
}